.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}
.center {
  color: rgb(100,100,185);
  display:block;
  text-align:center
}
footer {
  background-color: rgb(9, 9, 26);
  color: rgb(29, 29, 54);;
  font-weight: bolder;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}